body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.headerRow {
width: 100%;
padding: 0.75rem;
color: #1a1a1a;
background-color: #ffffff;
margin: 0.625rem 0;
font-size: 1.2rem;
border: 1px solid #484848;
border-radius: 0.3rem;
}

.commentList {
width: 100%;
padding: 0.75rem;
color: #1a1a1a;
background-color: #ffffff;
margin: 0.625rem 0;
font-size: 1.2rem;
border: 1px solid #484848;
border-radius: 0.3rem;
}

#postDesc2 {
width: 100%;
padding: 0.75rem;
color: #1a1a1a;
background-color: #ffffff;
margin: 0.625rem 0;
font-size: 1.2rem;
}