<form id="signup-form" class="form-signin">
    <div id="signup" role="'tabpanel">
        <div class="mb-3 card-header text-center">
            <h2>Create New Account Here!</h2>
        </div>
        <div>
            <label for="username-input-signup">username</label>
            <input type="email" id="username-input-signup" placeholder="Username" autocomplete="off" required="autofocus">
        </div>
        <div>
            <label for="username-input-signup">username</label>
            <input type="email" id="email-input-signup" placeholder="helenhosse@gmail.com" autocomplete="off" required="autofocus">
        </div>
        <div>
            <label for="password-input-signup">password</label>
            <input type="password" id="password-input-signup" placeholder="Password" autocomplete="off" required>
        </div>
        <button type="submit" id="signup-button" class="btn">Sign Up!</button>
        <a href="/Tech-Blog/views/login.handlebars">Login!</a>
    </div>
</form>

<script src="/Tech-Blog/public/javascript/signup.js"></script>